body{
  background-color: white;
}

.navbar {
  background-color: darkcyan;
  margin: auto;
  border-radius: 0%;
  width: 100%;
  padding: 10px;
}

#logo{
  width: 80px;
  height: 80px;
  border: 1px solid red;
}

#checkbox {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#inputField {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.venom {
  background-image: url(http://hdphonewallpapers.com/content/sOeN3mBNbZCyNHcz5oEOb3GDTmd34oHLDw5XxLxQ6Nefc6Qx51seY9PzIa4QJITv.jpg);
  background-repeat: none;
  align-content: center;
}