body{
  background-color: white;
}

.navbar {
  background-color: darkcyan;
  margin: auto;
  border-radius: 0%;
  width: 100%;
  padding: 10px;
}

#logo{
  width: 80px;
  height: 80px;
  border: 1px solid red;
}

#checkbox {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#inputField {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.venom {
  background-color: black;
}